body {
	background-image: url("../images/cover_hazed.jpg");
	background-size: cover;
	background-attachment: fixed;
}



span {
    vertical-align: middle;
    text-align: center;
    margin: 30px;
    float: none;
}

h1 {
	padding-top: 100px;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: bold;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.btn-primary {
	margin: 25px;
}

.col-md-4 {
	text-align: center;
}

select {
	margin-bottom: 20px;
	width: 350px;
}

label {
	text-align: left;
}

input {
	text-align: center;
}

form {
	display: inline-block;
    margin: 0 auto;

    padding: 20px;
	margin: 50px;
	float: center;
	background-color: #FFFFFF;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: #3D3C40;
	max-width: 600px;

	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

