<!DOCTYPE html>

<html>
	<head>
		<title>where</title>

		<link href="{{ url_for('static', filename="bootstrap_3.3.5/css/bootstrap.css") }}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{{ url_for('static', filename="css/stylesheet.css") }}" rel="stylesheet" type="text/css">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	</head>

	<body>
		<span>
			<h1>where</h1>
			<h2>Helping you decide where to go next.<h2>
			<button type="button" class="btn btn-primary">Enter</button>
		</span>
	<body>
<html>